.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 9.5em;
  padding: 2em;
}

.gridItem .portfolio-link{
  display: flex!important;
  justify-content: center;
}

.gridItem .portfolio-link img{
  max-height: 215px;
}
.hola{
  background-color: #000000 !important;
  z-index: 2;
}